#mic{
    background-color: #FF0000;
    font-weight: bold;
    height: 2%;
    width: 10%;
    position:absolute;
    top:49%;
    bottom:49%;
    left:45%;
    right:45%;
}

#description{
    height: 10%;
    width: 50%;
    margin-left:25%;
    margin-right:25%;
}

h2{
    color: #2ECCFA;
}

body{
    text-align:center;
    background-color: #CEF6F5;
}

p{
    left:100px;
}

textarea{
    resize:none;
    text-align:center;
}