#mic{
    background-color: #0000FF;
    font-weight: bold;
    height: 20px;
    width: 100px;
    position:absolute;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
}

h2{
    color: #2ECCFA;
}

body{
    text-align:center;
    vertical-align:middle;
}